This notebook, by [felipe.alonso@urjc.es](mailto:felipe.alonso@urjc.es)

In this notebook we will introduce:

1. Common data structures in python
2. Functions
3. Boolean expressions

The following is a text cell (Markdown sintax)

In [1]:
# This is a cell code (comment)

2+3
# 2.0+3

5

# 1. Data structures

See the [documentation](https://docs.python.org/3.6/tutorial/datastructures.html#) for more details.

## Lists

In [2]:
# Lists are collections of items

x = [1,2,3,4,5,6]

type(x)
#len(x)
#x[:3]
#x[3:]
#x.extend([7,8])
#x.append(9)
#x.sort()
#x.sort(reverse = True)

list

In [3]:
len(x)

6

In [4]:
x[:3]

[1, 2, 3]

In [5]:
x.extend([7,8]) #Add more than one element

In [6]:
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
x.sort(reverse = True)
x

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
# Nested lists

y = [10,11,12]
z = [x,y]
print(z)

[[9, 8, 7, 6, 5, 4, 3, 2, 1], [10, 11, 12]]

## Tuples

In [14]:
# Tuples are inmutable lists. Use () instead of []. Inmutable = cannot be changed

x = (1,2,3)

#len(x)
#x[0]

In [15]:
len(x)

3

In [16]:
x[0]

1

In [17]:
y = (4,5,6)

[x,y] # list of tuples

[(1, 2, 3), (4, 5, 6)]

In [18]:
(age, income) = "27,55000".split(',')

print(age)
print(income)

27
55000

## Dictionaries

In [2]:
# Key-value pairs, like a hash table

census = {
    "Name": ["Roger", "Brian", "John"],
    "Surname": ["Taylor", "May", "Deacon"],
    "Born": [1949, 1947, 1951]
}

print(census)

{'Name': ['Roger', 'Brian', 'John'], 'Surname': ['Taylor', 'May', 'Deacon'], 'Born': [1949, 1947, 1951]}

In [20]:
census['Name']
#census.keys()

['Roger', 'Brian', 'John']

In [22]:
census.keys()

dict_keys(['Name', 'Surname', 'Born'])

In [23]:
for key in census:
    print('values: ', census[key])

values:  ['Roger', 'Brian', 'John']
values:  ['Taylor', 'May', 'Deacon']
values:  [1949, 1947, 1951]

In [24]:
for k,v in census.items():
    print('Key:', k, ', has value: ', v)

Key: Name , has value:  ['Roger', 'Brian', 'John']
Key: Surname , has value:  ['Taylor', 'May', 'Deacon']
Key: Born , has value:  [1949, 1947, 1951]

# 2. Functions

In [25]:
def sqr(x):
    return x**2

In [26]:
sqr(3)
#sqr('hola')

9

In [27]:
sqr('hola') #It has to give us an error cause the type of argument is not a number

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

<div class="alert alert-block alert-info">
<b>Exercise:</b> write a python function called <b>plural</b> that takes a list of words and converts then into plural form (adding the char 's').</div>

As for example `plural(['Roger', 'Brian', 'John'])` should return `['Rogers', 'Brians', 'Johns']`

In [3]:
def plural(my_list):
    return[e+'s' for e in my_list]

# check your results
plural(census['Name'])

['Rogers', 'Brians', 'Johns']

In [9]:
a = 'hola'

In [10]:
b=a+'s'
print(b)

holas

# 3. Boolean expressions

In [4]:
1==3
1=='1'
1>3
1>=3

False

In [7]:
1==1.0

True

In [5]:
'hola'=='hola'
'2020-01-31' < '2020-02-01'

True

In [6]:
x = 2
if x==1:
    print('It is True')
else:
    print('It is False')

It is False

In [11]:
x = 1
if x==1:
    print('It is True')
else:
    print('It is False')

It is True