This notebook, by [felipe.alonso@urjc.es](mailto:felipe.alonso@urjc.es)

In this notebook we will:

1. Solve one-sample hypothesis testing examples:
    - hypothesis testing for the mean
    - hypothesis testing for proportions 
2. Solve two-sample hypothesis testing examples

# 0. Load libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

from scipy.stats import t, sem, norm

# 1. One sample hypothesis testing

### Example 1:

Load the data set `mtcars` contained in the `./data/mtcars.csv` file of this repository. Assume that the data set `mtcars` is a random sample. Compute the mean MPG, $\bar{x}$, of this sample. You want to test whether the true MPG is $\mu_0$ or smaller using a one sided $5\%$ level test. Thus, you want to test 

$$H_0:\mu = \mu_0\quad\text{ vs.}\quad H_1:\mu<\mu_0$$ 

<div class="alert alert-block alert-info">
Based on the mean MPG of the sample $\bar{x}$, what is the smallest value of $\mu_0$ that you would reject $H_0$ for?
</div>

In [2]:
mtcars = pd.read_csv('C:\\Users\\riul0\\Desktop\\Inference\\inference_prof\\inference\\data\mtcars.csv',sep=",",decimal='.')
mtcars.head()

,brand,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [74]:
mpg = mtcars.mpg.values
print(mpg)
mean = mpg.mean()
print('The mean is:',mean)

[21.  21.  22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2
 10.4 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.  30.4
 15.8 19.7 15.  21.4]
The mean is: 20.090625000000003

In [75]:
n = len(mpg)
alpha = 0.05
t= t(df=n-1).ppf(alpha)
se = np.std(mpg,ddof=1)/np.sqrt(n)

In [76]:
print(t)

-1.6955187891366654

In [77]:
# t = (mean - Y0)/se             so... 
print(mean-(t*se))

# Your solution should be: 21.897

21.89707134151299

### Example 2:

A survey claims that $9$ out of $10$ doctors recommend aspirin for their patients with headaches. To test this claim, a random sample of $100$ doctors is obtained. Of these $100$ doctors, $82$ indicate that they recommend aspirin.

<div class="alert alert-block alert-info">
Is this claim accurate? Use $\alpha$ = 0.05
</div>

Hint: you might want to use the [`binom_test`](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.binom_test.html#scipy.stats.binom_test). Notice that this is an exact test, and does not assume normality.

In [17]:
from scipy.stats import binom_test, binom

In [79]:
p_estimator = 82/100
q_estimator = 1-p_estimator
n = 100
p = 9/10
alpha = 0.05
se = np.sqrt(p_estimator*q_estimator/n)

z = norm().ppf(1-(alpha/2))

print(z,-z)
print((p_estimator-p)/(se))
print(binom_test(x=82, n=100, p=p),'Highly significant to reject H0')


# Your solution should be 0.00766 or 0.01195 (depending on the assumptions) ¡! He's saying p-value

1.959963984540054 -1.959963984540054
-2.0823168251814157
0.01195216391400506 Highly significant to reject H0

In [14]:
alpha = 0.05

p_est = 82/100
q_est = 1-p_est

n = 100

p = 9/10
q = 1 - p

print('n*q*p',n*p_est*q_est)

se = np.sqrt((p*q)/n)



z = (p_est - p)/se
z_norm = norm().ppf(1-(alpha)/2)
print(np.abs(z))
print(z_norm)

print('p_value=', (2*norm().cdf(-np.abs(z))))

n*q*p 14.760000000000003
2.666666666666669
1.959963984540054
p_value= 0.00766076113517941

### Example 3: 

You believe the coin that you’re flipping is biased towards heads. You get $55$ heads out of $100$ flips. 

<div class="alert alert-block alert-info">
Do you reject at the $5\%$ level that the coin is fair?
</div>

In [2]:
from scipy.stats import binom_test, binom
# your p-value should be 0.1841

In [13]:
p = 0.5
q = 1 - p
p_est = 55/100
n = 100
se = np.sqrt(p*q/n)
alpha = 0.05

t = (p_est-p)/(se)
z = norm().ppf(1-(alpha))

print(z,-z)
print(np.abs(t))


cond = p*q*n
if cond >= 5:
    print('p_val' , norm().cdf(-np.abs(t)))

print(binom_test(x=55, n=100, p=p, alternative = 'greater'),'Not significant to reject H0')



# your p-value should be 0.1841

1.6448536269514722 -1.6448536269514722
1.0000000000000009
p_val 0.15865525393145685
0.18410080866334827 Not significant to reject H0

# 2. Two sample hypothesis testing

### Example 4

[Tromholt (2016)](https://www.liebertpub.com/doi/full/10.1089/cyber.2016.0259) investigated whether quitting Facebook can improve your well-being. In the experiment, about a thousand volunteers (all Facebook users) were randomly allocated to either a treatment group, in which they told not to use Facebook for one week, or a control group, in which they carried on using Facebook as normal. At the end of the week, all participants completed a questionnaire. One of the questions asked them to record, “*In general, how satisfied are you with your life today?*” on a scale of 1 (very dissatisfied) to 10 (very satisfied). Let  $x_1,x_2,\ldots,x_n$ be the observed responses in the treatment group, and $y_1,y_2,\ldots,y_n$ be the observed responses in the control group. Results from those who repsponded were as follows:

$$\bar{x} = 8.11,\,\bar{y} = 7.74,\,s_x =1.23^2,\,s_y = 1.43^2,\,n = 516,\,m=372$$


<div class="alert alert-block alert-info">
State suitable hypotheses for the experiment. Conduct an appropriate hypothesis test, reporting the  
$p-$value.
</div>

In [14]:
from scipy.stats import f
sx = 1.23**2
sy = 1.43**2
alpha = 0.05
F_big = f(516-1,372-1).ppf(1-alpha/2)
F_low = f(516-1,372-1).ppf(alpha/2)
print(F_low, F_big)
f = (sx**2)/(sy**2)
print(f)

0.829000340527769 1.209825833321524
0.5473640823371537

In [151]:
# alpha = 0.05 as default
alpha = 0.05
n = 516
m = 372
sx = 1.23
sy = 1.43

x = 8.11
y = 7.74 

#Unknown and unequal variances   because it is not saying anything about variances
t_2 = (x-y)/((np.sqrt((sx**2/n) + (sy**2/m))))
print(t_2)
d = ((((sx**2)/n) + ((sy**2)/m))**2)/(((sx**2)/n)**2/(n-1)+((sy**2)/m)**2/(m-1))
print(d)
t_alpha_2 = t(df=d).ppf(1-(alpha/2))
print(t_alpha_2)

4.030075554498397
723.942208478447
1.9632462560713146

In [152]:
# Your p-value solution should be: 6.166126520490217e-05
p_value_2 = 2*(1-t(df=d).cdf(t_2))
print(p_value_2)

6.166126520490423e-05

### Example 5

Consider again the `mtcars` data set. Use a two sample $t-$test to test the hypothesis that the $4$ and $6$ `CYL` cars have the same `MPG`. Notice that `CYL` refers to a column of the `mtcars` data set.

<div class="alert alert-block alert-info">
Do you reject at the $5\%$ confidence level? What's the $p-$value?
</div>

Hint: you might find [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.ttest_ind.html) function useful.

In [11]:
mtcars = pd.read_csv('C:\\Users\\riul0\\Desktop\\Inference\\inference_prof\\inference\\data\mtcars.csv',sep=",",decimal='.')
mtcars.head()

# Your p-value solution should be: 0.00040484953417022697

,brand,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [12]:
mtcars[['cyl','mpg']]

    cyl   mpg
0     6  21.0
1     6  21.0
2     4  22.8
3     6  21.4
4     8  18.7
5     6  18.1
6     8  14.3
7     4  24.4
8     4  22.8
9     6  19.2
10    6  17.8
11    8  16.4
12    8  17.3
13    8  15.2
14    8  10.4
15    8  10.4
16    8  14.7
17    4  32.4
18    4  30.4
19    4  33.9
20    4  21.5
21    8  15.5
22    8  15.2
23    8  13.3
24    8  19.2
25    4  27.3
26    4  26.0
27    4  30.4
28    8  15.8
29    6  19.7
30    8  15.0
31    4  21.4

Both are independent

In [13]:
cyl_6 = mtcars[mtcars.cyl == 6]['mpg']
print(cyl_6.mean())
print(cyl_6.var())
print(cyl_6.count())

19.74285714285714
2.112857142857141
7

In [14]:
cyl_4 = mtcars[mtcars.cyl == 4]['mpg']
print(cyl_4.mean())
print(cyl_4.var())
print(cyl_4.count())

26.663636363636364
20.338545454545446
11

Here we proove the No equal variances

In [15]:
from scipy.stats import ttest_ind
# When n1 != n2, the equal variance t-statistic is no longer equal to the unequal variance t-statistic

In [16]:
ttest_ind(cyl_4,cyl_6,equal_var = False)

Ttest_indResult(statistic=4.719059404187968, pvalue=0.00040484953417022697)

In [23]:
x = mtcars[mtcars.cyl==4].mpg.values
y = mtcars[mtcars.cyl==6].mpg.values

# So, the hypothesis would be H0: mu_x = mu_y vs H1: mu_x != mu_y

#--- Approach 1: code the test
x_bar = x.mean()
y_bar = y.mean()

sx2 = np.std(x,ddof=1)**2
sy2 = np.std(y,ddof=1)**2

n = len(x)
m = len(y)

# We will use the t-test for independent samples with unknown and unequal variances, thus
ts = (x_bar-y_bar)/np.sqrt(sx2/n + sy2/m)
d  = (sx2/n + sy2/m)**2 / ( (sx2/n)**2/(n-1) + (sy2/m)**2/(m-1) )
print(ts)

t_alpha_2 = t(df=d).ppf(1-(alpha/2))
print(t_alpha_2)

p_value_2 = 2*(1-t(df=d).cdf(ts))
print(p_value_2)

4.719059404187968
2.161115023441006
0.000404849534170193

### Example 6:

Patients with type-2 diabetes may use drugs to control their blood sugar levels. A pharmaceutical company conducted a clinical trial to compare the efficacy of a combination of two drugs, *sitagliptin* and *metformin*, with using *metformin* alone. The product name for this combination of drugs is “Efficib”. 190 patients were recruited to the trial, and were randomly allocated to one of two treatments:

- treatment 1: 100mg sitagliptin per day, and at least 1500mg metformin per day
- treatment 2: a daily placebo, made to look like a dose of 100mg sitagliptin, and at least 1500mg metformin per day.

The study was “double-blinded”: neither the patients nor their doctors knew which treatment they were getting (though the trial investigators did know.) A1C (a measure of blood sugar level) was recorded for each patient at the start and after 18 weeks, and the change in A1C was recorded for each patient.

Let $X_i$ denote the change in A1C for the $i-$th patient on the treatment 1 ($i=1,\ldots,95$), and $Y_j$  denote the change in A1C the $j-$th patient on treatment 2 ($j=1,\ldots,92$). We assume that $X_i\sim\mathcal{N}(\mu_x,\sigma_x^2)$ and that $Y_i\sim\mathcal{N}(\mu_y,\sigma_y^2)$. 

We have the following information:

$$\bar{x} = -1.00,\,\bar{y} = 0.02,\,s_x^2 =1.5456,\,s_y^2 = 1.4968,\,n = 95,\,m=92$$


<div class="alert alert-block alert-info">
State suitable hypotheses for the experiment. Conduct an appropriate hypothesis test, reporting the  
$p-$value.
</div>

In [6]:
from scipy.stats import f
sx = np.sqrt(1.5456)
sy = np.sqrt(1.4968)
alpha = 0.05
F_big = f(95-1,92-1).ppf(1-alpha/2)
F_low = f(95-1,92-1).ppf(alpha/2)
print(F_low, F_big)
f = (sx**2)/(sy**2)
print(f)

0.664007235136778 1.5080878610787058
1.0326028861571355

In [198]:
# alpha = 0.05 as default
alpha = 0.05
n = 95
m = 92
sx = np.sqrt(1.5456)
sy = np.sqrt(1.4968)

x = -1
y = 0.02

#Unknown and unequal variances   because it is not saying anything about variances
t_2 = (x-y)/((np.sqrt((sx**2/n) + (sy**2/m))))
print(t_2)
d = ((((sx**2)/n) + ((sy**2)/m))**2)/(((sx**2)/n)**2/(n-1)+((sy**2)/m)**2/(m-1))
#print(d)
t_alpha_2 = t(df=d).ppf((alpha/2))
print(t_alpha_2)


p_value_2 = 2*(t(df=d).cdf(t_2))
print(p_value_2)

# Your p-value solution should be: 5.846043953288385e-08

-5.654546908421991
-1.9728733640219132
5.846043953288385e-08

Thus, there is evidence (at the 5% level of significance) that there is an effect of combining sitagliptin with metformin, and that this effect is an increased reduction in A1c (adding sitagliptin has a beneficial effect.)

There have been other studies to test the effect of sitagliptin and metformin (the “Efficib” drug). Based on these studies, the [European Medicines Agency approved Efficib for use in the European Union](https://www.ema.europa.eu/en/medicines/human/EPAR/efficib).

Notice that in this case, we could have used a test for the follwing hypothesis:
    
$$H_0: u_{\text{ucla}} = u_{\text{amazon}}\quad\text{vs}\quad H_1: u_{\text{ucla}} > u_{\text{amazon}}$$

which could be transformed into

$$H_0: u_{\text{ucla}} - u_{\text{amazon}} = 0 \quad\text{vs}\quad H_1: u_{\text{ucla}} - u_{\text{amazon}} > 0$$

so that

$$H_0: u_{\text{diff}} = 0 \quad\text{vs}\quad H_1: u_{\text{diff}}> 0$$

Which is a one-sample one-sided hypothesis.

### Example 7:

The file `./data/textbooks.csv` contain [information](https://www.openintro.org/data/index.php?data=textbooks) about books that can be found both in the UCLA Bookstore and in Amazon. It looks like Amazon prices are, on average, lower than those of the UCLA Bookstore.

<div class="alert alert-block alert-info">
Is this statement valid for a $0.05$ condifence level?
</div>

Hint: You might find the function [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html) useful.

In [8]:
books.head()

  dept_abbr course            isbn  ucla_new  amaz_new more  diff
0    Am Ind   C170  978-0803272620     27.67     27.95    Y -0.28
1    Anthro      9  978-0030119194     40.59     31.14    Y  9.45
2    Anthro   135T  978-0300080643     31.68     32.00    Y -0.32
3    Anthro  191HB  978-0226206813     16.00     11.52    Y  4.48
4   Art His  M102K  978-0892365999     18.95     14.21    Y  4.74

In [10]:
books = pd.read_csv('C:\\Users\\riul0\\Desktop\\Inference\\inference_prof\\inference\\data\\textbooks.csv')
diffs = books['diff'].values
n = len(diffs) 
diff_est = diffs.mean()
print(diff_est)


d_minus_d_est = []
for i in range(0,n):
    
    d_minus_d_est.append((diffs[i]-diff_est)**2)
    
    
    
d_minus_d_est = sum(d_minus_d_est)
s_est_2 = d_minus_d_est/(n-1)
s_est = np.sqrt(s_est_2)
print(s_est)


s = np.std(diffs,ddof=1)
print(s)

# Your p-value solution should be: 6.927581126065543e-11

12.76164383561644
14.255300769820737
14.255300769820739

In [96]:
t = diff_est*(np.sqrt(n))/(s)
print(t)

7.648771112479754

In [100]:
from scipy.stats import t
alpha = 0.05
print(t(df=n-1).ppf((alpha/2)))
print(t(df=n-1).ppf((1-alpha/2)))

-1.9934635662785831
1.9934635662785827

In [103]:
from scipy.stats import t
2*(1-t(df=n-1).cdf(7.64877111))

6.927569629056052e-11

In [44]:
books.head()
ucla = books['ucla_new']
amaz = books['amaz_new']

In [45]:
print(ucla.mean())
print(amaz.mean())

72.22191780821916
59.46027397260274

In [61]:
from scipy.stats import ttest_rel
ttest_rel(ucla, amaz, axis=0, nan_policy='propagate')

Ttest_relResult(statistic=7.648771112479753, pvalue=6.927581126065491e-11)

# References

The examples from this notebook have been extracted from:

- [MAS113 Part 2: Data Science](http://www.jeremy-oakley.staff.shef.ac.uk/mas113/notes/), Jeremy-oakley. Chapter 7.
- [Statistical Inference for Data Science](https://leanpub.com/LittleInferenceBook/read#leanpub-auto-exercises-8). Brian Caffo. Chapter 9.
- [OpenIntro Statistics](https://www.openintro.org/book/os/). D. Díez, M Cetinkaya-Rundel and CD Barr. Chapter 7.